.header {
    height: 150px;
    background-image: url("/img/wall.png");
    background-size: cover;
    height: 150px;
    font-family: "Edu TAS Beginner", cursive;
}

.main {
    background-image: url("/img/cork.png");
    background-size: cover;
}

.container {
    max-width: 1200px;
}

